#root {
    --accent: rgb(255, 179, 36);
    --button_primary_background: rgb(255, 179, 36);
}

html,
body {
    margin: 0!important;
    padding: 0!important;
}

.vkuiModalPage__in {
    width: 516px!important;
}

.in_msg>* {
    background: var(--vkui--color_background_positive);
    border-radius: 12px;
    padding: 2px 5px;
}

.out_msg>* {
    background: var(--destructive);
    border-radius: 12px;
    padding: 2px 5px;
}

.in_msg span,
.out_msg span {
    color: #fff
}

.logo-block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: var(--accent)
}

.logo {
    height: 50px;
}