#root {
    --accent: rgb(255, 179, 36);
    --button_primary_background: rgb(255, 179, 36);
}

html,
body {
    margin: 0!important;
    padding: 0!important;
}

.vkuiModalPage__in {
    width: 516px!important;
}

.in_msg>* {
    background: var(--vkui--color_background_positive);
    border-radius: 12px;
    padding: 2px 5px;
}

.out_msg>* {
    background: var(--destructive);
    border-radius: 12px;
    padding: 2px 5px;
}

.in_msg span,
.out_msg span {
    color: #fff
}

.logo-block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: var(--accent)
}

.logo {
    height: 50px;
}

.div_qr::after {
    display: block;
    content: "";
    position: absolute;
    z-index: 10;
    left: 50%;
    top: calc(50% - 0px);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    /* background-image: url(https://biton.pw/static/biton/img/logo.png?1); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: #fff; */
    border-radius: 0px;
}